on:
  push:
    tags:
      - "v*.*.*"
  workflow_dispatch:

name: Upload Release Assets

jobs:
  build:
    uses: ./.github/workflows/ci.yaml

  post-build:
    name: Release
    needs: build
    runs-on: ubuntu-latest

    steps:
      - name: Create Github Release
        id: create_release
        uses: actions/create-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
        with:
          tag_name: ${{ github.ref }}
          release_name: Release ${{ github.ref }}
          draft: false
          prerelease: false
